<h1>Users</h1>
<table>
	<thead>
		<th>Login</th>
		<th>Home path</th>
		<th>Is admin?</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr class="<%= cycle("alt-row","")%>">		
			<td><%= user.login %></td>
			<td><%= user.full_path %></td>
			<td><%= user.is_admin? ? "Yes" : "No" %></td>			
		<tr>			
		<% end %>
	</tbody>
</table>
<p><%= link_to "Add user",  new_admin_user_path %></p>