<h1>New user</h1>
<%= semantic_form_for([:admin,@user]) do |f| %>
	<%= f.input :login %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>	
	<%= f.input :home_folder %>
	<%= f.input :is_admin?, :as => :select %>
	<%= f.submit "Create" %>
<% end %>