<!DOCTYPE html>
<html>
<head>
  <title>Byshbrowser</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery.min.js", "jquery.rails.js", "facebox.js" %>  
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main-content">
	<% if flash[:notice].present? %>
		<div class="flash notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if @current_user.present? %>
		<p>Current user: <%= @current_user.login%>, <%= link_to "logout", user_sessions_path(), :method => :delete %></p>
	<% end %>
	<%= yield %>
</div>
<script>
	jQuery(document).ready(function($) {
		$('a[rel*=facebox]').facebox()
	})
</script>
</body>
</html>
